/**
 * @file
 *
 * Markup of the carousel.
 */

#mycarousel {
  width: 100%; !important;
}

#mycarousel ul li {
  float: left !important;
  clear: none !important;
  width: 85px !important;
  height: 85px !important;
}

div#yt_player {
  background-color: #FFF;
  border: 1px solid black;
  display: none;
  height: 430px;
  width: 485px;
}

#yt_player {
  padding: 5px;
}

#yt_player p#close {
  text-align: right;
}

