/**
 * @file
 *
 * Markup of the widget.
 */

* {
  outline: none;
}

#arbo-widget {
  height: 600px;
  width: 550px;
}

#arbo-widget p {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 5px 0 5px 0;
}

.ui-dialog {
  width: auto !important;
  max-width: 580px;
}

h1#arbo-review {
  text-align: center;
}

#arbo-widget .step-container {
  margin: 0 auto;
  height: 500px;
  width: 500px;
}

#arbo-widget p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

#arbo-widget #progress .previous {
  cursor: pointer;
}

#arbo-widget #progress .previous, #arbo-widget #progress .current {
  color: #000000;
}

#arbo-widget #progress .current {
  padding: 0.24em 1em;
  text-align: center;
  text-decoration: none;
  width: 5.1em;
  border-color: black;
  background: none repeat scroll 0 0 white;
  color: black;
  font-weight: bold;
  position: relative;
  top: 1px;
}

#arbo-widget #progress a {
  border-color: #BBBBBB;
  border-style: solid;
  border-width: 1px 1px 0;
  float: left;
  margin: 0;
  background: none repeat scroll 0 0 #EEEEEE;
  color: #0000CC;
  display: block;
  padding: 0.24em 1.21em;
  text-align: center;
  text-decoration: none;
  width: 5.1em;
  height: 25px;
  font-size: 14px;
}

#arbo-widget #progress a.future {
  color: #d6d6d6;
}

#arbo-widget .clear {
  clear : both;
  line-height: 1px;
  height : 0;
}

#arbo-widget .message {
  display: none;
}

#arbo-widget .left {
  float: left;
}

#arbo-widget .right {
  float: right;
}

#arbo-widget input {
  border: 1px solid #000000;
  padding: 5px;
}

#arbo-widget input#accept {
  border: none;
}

#arbo-widget .record-controls {
  margin: 0 auto;
  height: 32px;
  width: 32px;
}

#arbo-widget button {
  border: 1px solid black;
}

#arbo-widget textarea {
  height: 250px;
  width: 100%;
}

div.loading {
  margin: 0 auto;
  width: 200px;
}

#arbo-widget h1.step-title {
  display: none;
}

#arbo-widget #email {
  width: 400px;
}

#arbo-widget h2 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}

#arbo-widget .record-tag-highlight {
  margin-bottom: 15px;
}

div.flash {
  height: 385px;
  width: 500px;
}

#arbo-review a {
  width: 676px !important;
}

#arbo-review .ajax-progress {
  display: none;
}

#arbo-review .record-tag-highlight {
  height: 300px;
  overflow: auto;
}
